<div class="background">
  <div class="container">
    <img [src]="logo" alt="ListEventos">
    <form class="form-signin">
      <app-input [placeHolder]="'Nome'" [typeInput]="'text'" [classInput]="'bi bi-person'"></app-input>
      <app-input [placeHolder]="'Email'" [typeInput]="'email'" [classInput]="'bi bi-envelope'"></app-input>
      <app-input [placeHolder]="'Senha'" [typeInput]="'password'" [classInput]="'bi bi-key'"></app-input>
      <app-button [text]="'Cadastrar'"></app-button>
    </form>
  </div>
</div>
