.background {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  padding: 0 10rem;

  background: linear-gradient(
    76.6deg,
    #fd52ff 7.16%,
    #00dbde 91.96%,
    #00dbde 91.96%
  );
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 24pt;
  line-height: 32px;
  color: #fff;
  margin-bottom: 40px;
}

.button-container {
  display: flex;

  a {
    display: flex;
    justify-content: space-around;
    width: 10rem;
    margin-right: 20px;
    border-radius: 6px;
    padding: 20px;
    text-decoration: none;

    color: #ffff;
  }

  #register {
    background-color: var(--color-soft-blue);
  }

  #login {
    background-color: var(--color-dark-blue);
  }
}

.col {
  margin-bottom: 30px;
}

@media(max-width: 380px) {
  img {
    width: ;
  }
}
