<strong>Olá, {{ name }}</strong>
<p>Você foi convidado para um novo evento:</p>
<p>
  <strong>Data/hora: </strong> {{ date }} <br/>
  <strong>Descrição: </strong> {{ description }} <br/>
  <br/>
  <small>
   Caso você não queira comparecer você pode excluir esse evento na sua lista de convites no nosso site.
  </small>
</p>