<app-header></app-header>
<div class="container-fluid">
    <div class="header">
        <div class="title-header" *ngIf="myEvents">
            <button (click)="switch(true)">
                <h1>Meus eventos</h1>
            </button>
            <button (click)="switch(false)">
                <h2>Meus convites</h2>
            </button>
        </div>
        <div class="title-header" *ngIf="!myEvents">
            <button (click)="switch(true)">
                <h2>Meus eventos</h2>
            </button>
            <button (click)="switch(false)">
                <h1>Meus convites</h1>
            </button>
        </div>
        <a routerLink="/event">Criar evento</a>
    </div>
    <ul>
        <li *ngFor="let event of events | async">
            <div class="event-header">
                <strong>{{event.start_date | date:'HH:mm'}} {{event.start_date | date:'dd/MM/yy'}} - {{event.end_date | date:'HH:mm'}} {{event.end_date | date:'dd/MM/yy'}}</strong>
                <div>
                    <i id="pen" class="bi bi-pencil-fill" *ngIf="myEvents" (click)="update(event)"></i>
                    <i id="trash" class="bi bi-trash-fill" (click)="remove(event.id)"></i>
                </div>
            </div>
            <p>{{event.description}}</p>
        </li>
    </ul>
</div>